<tr>
	<td>@Tisket.Id</td>
	<td>@Tisket.Title</td>
	<td>@Tisket.Description</td>
	<td>@Tisket.WhenAdded.ToLocalTime()</td>
	<td>@CheckNullCompletedDate()</td>
	<td><a href="#" @onclick="(() => MarkComplete(Tisket))" @onclick:preventDefault>Mark Complete</a> | <a href="#" @onclick="(() => DeleteTisket(Tisket))" @onclick:preventDefault>Delete</a></td>
</tr>

@code {
	[Parameter] public TisketModel Tisket { get; set; } = new();
	[Parameter] public EventCallback<TisketModel> DeleteCallback { get; set; }
	[Parameter] public EventCallback<TisketModel> CompleteCallback { get; set; }

	string CheckNullCompletedDate()
	{
		if (Tisket.WhenCompleted == null)
			return "";
		else
			return Tisket.WhenCompleted.Value.ToLocalTime().ToString();
	}

	async Task DeleteTisket(TisketModel tisket)
	{
		await DeleteCallback.InvokeAsync(tisket);
	}

	async Task MarkComplete(TisketModel tisket)
	{
		await CompleteCallback.InvokeAsync(tisket);
	}
}
